div{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url("puppy.jpg");
    background-size: cover;
}
#box1{
    background-image: url("puppy.jpg");
    background-size: cover;
}