div{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    background-color: blue;
    position: static;
}
#box2{
    background-color: brown;
    position: relative;
    top: 10px;
    left: 20px;
}
#box3{
    background-color: aqua;
    position: absolute;
    top: 10px;
    left: 20px;
}
#box4{
    position: fixed;
    right: 0px;
    bottom: 20px;
    width: 100%;
}